<h1>Sinatra JSON API Contact List</h1>
<hr/>
<h2>Create a new contact</h2>
<form id="new_contact">
  <label for="name">Contact name:</label><br>
  <input type="text" name="name" id="name" ><br>
  <label for="email">Email:</label><br>
  <input type="text" name="email" id="email"><br>
  <label for="phone_number">Phone Number:</label><br>
  <input type="phone_number" name="phone_number" id="phone_number"><br>
  <button id="create" >Create!</button>
</form>

<form id="search">
  <input type="text" name="search" id="search_input" placeholder="Search..."><br>
  <button id="search" >Lookup</button>
</form>


  <table id="result" border="1" width="50%" align="left">
    <thead></thead>
    <tbody></tbody>
  </table>
